/* ### global ###"*/

* {
   box-sizing: border-box;
}

body {
   font-family: $roboto;
   font-weight: 400;
}

a {
   text-decoration: none;
}

figure {
   margin: 0;
}

button {
   background: none;
   border: none;
   cursor: pointer;
}

button, a{
   color: inherit;
}
